.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.clock {
  font-size: 10rem; 
  text-align: center; 
}

.date {
  font-size: 2rem; 
  text-align: left; 
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputLabel {
  display: inline-block;
  margin-right: 10px;
  font-size: 1rem;
}

.timerInput {
  width: 60px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}

.soundsInput {
  width: 130px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}

.errorMessage {
  color: #d9534f;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
